/* Put your CSS here */
html,body {
	margin: 20px;
}

#variable-list input.edit-field {
	display: none; /* Hides input box*/
}

#variable-list  label {
	min-width: 150px;
	display: inline-block;
}

#variable-list .editing label {
	display: none; /* Hides label text when .editing*/
}

#variable-list .editing button {
	display: none; /* Hides label text when .editing*/
}

#variable-list .editing input.edit-field {
	display: inline; /* Shows input text box when .editing*/
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}